[submodule "lib/check_my_code"]
	path = lib/check_my_code
	url = https://github.com/Remi-Gau/check_my_code.git
[submodule "lib/CPP_BIDS_SPM_pipeline"]
	path = lib/CPP_BIDS_SPM_pipeline
	url = https://github.com/cpp-lln-lab/CPP_BIDS_SPM_pipeline.git
